.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F6CE71;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #CC561E;
  font-size: 10rem;
  color: #FF6500;
}

p {
  font-size: 3rem;
  color: #FF6500;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #FF6500;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
